<!--<div style="text-align: center;">
    <h1>Globomatics Bike System</h1>
    <h5><a [routerLink]="['/home']">Carga Garantia</a></h5>
    
    <h5><a [routerLink]="['/admin']">listado de garantias cargadas</a></h5>
    
    <h5><a [routerLink]="['/galeria']">ver galeria de fotos </a></h5>

</div>-->
<div style="text-align: center;">
  <h1>Globomatics Bike System</h1>
  <nav>
    <table>
      <tr>
        <td><a [routerLink]="['/home']">Carga Garantia</a></td>
        <td><a [routerLink]="['/admin']">Garantias cargadas</a></td>
        <td><a [routerLink]="['/galeria']">Galeria</a></td>
        <td><a [routerLink]="['/about']">Sobre nosotros</a></td>
        <td><a [routerLink]="['/view-registration']">Registro</a></td>
      </tr>
    </table>
  </nav>
</div>
<!-- 
<app-admin></app-admin>

<app-image-gallery></app-image-gallery>
<app-home></app-home> -->
<router-outlet></router-outlet>




<footer>
  <p>@instagram</p>
</footer>
