<div id="all">
    <div class="sub">
          <h4>
        SOBRE NOSOTROS
    </h4>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde deserunt, porro vero vitae quisquam asperiores, voluptatem corrupti cum incidunt delectus debitis quo eum eius facere, rerum sit at? Laudantium, quia. Modi odit aliquid quibusdam repellendus eius autem maiores. Enim libero architecto similique ipsa est nemo repellat cumque amet veritatis. Cumque.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nesciunt, neque nisi modi dolore cum assumenda voluptatum tempora necessitatibus distinctio quasi reprehenderit ratione similique quo ut recusandae beatae? Molestias, nisi.</p>
<p>Numquam consequatur fugit quaerat? Animi natus aspernatur totam, veniam vitae fugit officia doloremque quae quos non exercitationem ex! Consequatur officia optio a dolore voluptates et minima at neque delectus explicabo.</p>
    </div>
 
    <!--a partir de un link de google maps-->
    <!--
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32152.74219103577!2d-58.47149070878363!3d-34.61859973854852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x68cee00a0d7398f8!2sProbikes!5e0!3m2!1ses-419!2sar!4v1626828565121!5m2!1ses-419!2sar"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

-->

<div class="center">
    <google-map width="800" height="600" [center]="position">
        <map-marker [position]="position" [label]="label" [title]="title">
        </map-marker>
    </google-map>
    </div>